[Unit]
Description=Bytesized Connect Proxy

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/local/bin/bcd-proxy

[Install]
WantedBy=multi-user.target
